@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;    
    font-family: 'Source Code Pro', monospace;
}
div, body, html {
    width: 100%;
    height: 100%;   
    /* border-radius: 1px solid black; */
}
body {
    background: #b7ffdb;
    flex-direction: column;
}
button {
    cursor: pointer;
}

.topo {
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 2px 2px; 
    height: 50px;
    /* border: 1px solid black;    */
}

.dados {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    /* border: 1px solid black; */
}
.subtitulo {
    height: 80px;
    width: 100%;
    justify-content: center;
}
.dados .nomes {
    max-height: 45px;
    align-items: center;
    /* padding: 0 20px; */
    /* background: #f6f33d; */
    width: 100%;
    padding: 2px 2px;
    border-radius: 2px;
}

.vezjogada {
    border: 3px double #FFF;
    background: #f6f33d;
    font-weight: bold;
}

.dados .nomes span {
    flex: 1;
    margin-left: 5px;
    font-size: 12px;
}

/* .dados .outros {
     padding: 10px 10px;
    max-height: 50px;
    justify-content: center;
} */
.statusJogo {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.statusJogo .subtitulo {
    width: 100%;
    justify-content: center;
}
.statusJogo .bancopecas {
    background: #FFF;
    border-radius: 2px;
    padding: 10px;
    border: 10px groove #DDD;
    /* margin: 30px 0px; */
    height: 100%;
    width: 150px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.corpo {
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 10px;
}
.corpo .tabuleiro {
    max-width: 550px;
    max-height: 550px;
    min-width: 550px;
    min-height: 550px;
    border: 3px solid black;
    flex-wrap: wrap;
    margin: 0px 10px;
}
.casa {
    max-width: 68px;
    max-height: 68px;
    width: 12.5%;
    height: 12.5%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color: white;
}
.black {
    background: black;
}
.white {
    background: white;
}
.peca {
    max-width: 45px;
    max-height: 45px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 7px groove;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}
.peca:hover, .pecaSelecionada {
    max-width: 65px;
    max-height: 65px;
    width: 95%;
    height: 95%;
}

.mao {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-image: url("img/mao.jpg");
    background-size: cover;
    box-shadow: 0px 0px 2px 3px green;
}

.pecaMini {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 7px groove;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.animacaoRotacao {
    animation-name: rotacaoPeca;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.animacaoRotacaoInversa {
    animation-name: rotacaoPecaInversa;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.pecaAnimada {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px groove;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 20px; */
    font-weight: bold;
    cursor: pointer;
    color: #c0c0c0;
    animation-name: rotacaoPeca;
    background: red;
    border-color: #a02323;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.jogadorred {
    background: red;
    border-color: #a02323;
}
.jogadorblue {
    border-color: rgb(31, 31, 143);
    background: blue;
}

.dama {
    background: #f6f33d;
}
.form-group {
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 20%;
    /* max-width: 450px;
    min-width: 350px; */
    flex: 2;
}
.input {
    border: 1px solid #CCC;
    text-align: center;
    border-radius: 2px;
    margin: 10px;
    padding: 10px 15px;
    font-size: 20px;
}
.titulo {
    width: 100%;
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn {
    margin: 5px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 15px 10px;
    border: none;
    font-size: 20px;
}

.btn-primario {
    background: #04c8a8;
    color: #FFF;
}

.btn-secundario {
    background: #f6f33d;
    color: #AAA;
}

.btn div {
    flex: 2;
    justify-content: center;
}
#exibe-chat {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 2px 5px 0px 5px;
    justify-content: center;
    border: 5px double #FFF;
    background: #04945d;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    /* padding: 2px; */
    cursor: pointer;
}

#finaliza-jogada {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    justify-content: center;
    border: 5px double #FFF;    
    font-weight: bold;
    font-size: 9px;
    cursor: pointer;
}

.vezJogadaAtivo {
    background: #a02323;
    color: #FFF;
}
.vezJogadaInativo {
    background: #413f3f;
    color: #FFF;
}

.vezJogadaAtivo:active {
    background: #751919;
}
.vezJogadaInativo:active {
    background: #333333;
}

#exibe-chat:active {
    background: #047e4f;
}

/* #sair {
    border: none;
    background: none;
    color: #ff3939;
    left: 5px;
    top: 5px;
    position: absolute;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
} */

.chat-form {
    flex-direction: column;
    display: none;
    background: #1587aa;
    padding: 10px;
    /* border-radius: 2px; */
    width: 550px;
    margin: 2px auto;
    align-content: center;
    height: 130px;
}

.chat-form .cabecalho {
    height: 20px;
    color: #FFF;
    justify-content: flex-end;
}

.chat-dialogo {
    /* border: 4px groove #DDD; */
    background: #DDD;
    border-radius: 2px;
    margin: 5px;
    width: 95%;
}

#fechar-chat {
    cursor: pointer;
    border: none;
    /* padding: 10px; */
    background: none;
    margin: 0;
    height: 20px;
    width: 20px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    /* border: 1px solid #0c5d75; */
    justify-content: center;
}

.chat-form  label {
    width: 100%;
    font-weight: bold;
    color: #DDD;
    justify-content: center;
}
.chat-form  textarea {
    border-radius: 2px;
    resize: none;
    size: 5;
    width: 100%;
    /* max-width: 350px; */
    padding: 5px;
}

.chat-form  #enviar-mensagem {
    background: #04945d;
    color: #FFF;
    border: none;
    width: 100%;
    border-radius: 2px;
    /* max-width: 350px; */
    margin-top: 2px;
    justify-content: center; 
    padding: 5px 0;   
    cursor: pointer;
}
#mensagens {
    flex-direction: column;
}

#mensagens .left {
    flex: 1;
}
#mensagens .right {
    width: 200px;
}
.mensagem {
    right: 5px;
    z-index: 10;
    top: 5px;
    max-width: 300px;
    max-height: 90px;
    width: 100%;
    padding: 10px 5px;
    border-radius: 4px;
    position: absolute;
    background: #FFF;
    /* opacity: 0.9; */
    color: #666;
    font-weight: bold;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    align-items: center;
    animation-name: sumir-mensagem;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

#modoEspera {
    z-index: 17;
    height: 100%;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: #64646480;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: #FFF;
    animation-name: modoEspera;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.cabecalhoEntrar {
    justify-content: center;
    /* border: 1px solid black; */
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-image: url("img/logo.png");
    background-size: cover;
    border-radius: 20px;     
    margin-bottom: 10px;  
    margin-top: 10px;  
}

.group-radio {
    flex-direction: column;
    align-content: center;
    /* border: 1px solid black; */
    height: 70px;
    margin: 10px 0px 20px 0px;
}
.group-radio>label {
    width: 100%;
    justify-content: center;
}

.group-radio .item-radio {
    align-items: center;
    padding: 0 20px;
}
.group-radio .item-radio>input {
    width: 25px;
    height: 25px;
    margin-right: 0;
}
.group-radio .item-radio>div {
    /* border: 1px solid black; */
    justify-content: flex-start;
    align-items: center;
}

.alerta {
    flex: 1;
    z-index: 25;
    height: 50%;
    width: 70%;
    border-radius: 2px;    
    color: #333;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 15%;
    padding: 30px;
    box-shadow: 0px 0px 3px 1px #AAA;
}

.alertaDanger {
    /* background: #139c7a; */
    background: #ff3939;
}
.alertaBase {
    /* background: #139c7a; */
    background: #b7ffdb;
}
.alertaBranco {
    /* background: #139c7a; */
    background: #FFF;
}

.alertaIcone {
    flex: 1;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}
.alerta .texto {
    flex: 4;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}
.alerta .btnAlerta {
    background: rgb(63, 63, 63);
    color: #FFF;
    font-weight: bold;
    border: 1px solid #AAA;
    width: 80%;
    padding: 7px;
    font-size: 16px;
    border-radius: 2px;
    margin: 5px;
    justify-content: center;
}
.alerta .btnAlertaConfirmar {
    background: rgb(34, 192, 100);
    color: #FFF;
    font-weight: bold;
    border: 1px solid #AAA;
    width: 80%;
    padding: 7px;
    font-size: 16px;
    border-radius: 2px;
    margin: 5px;
    justify-content: center;
}

@keyframes sumir-mensagem {
    0% {
        width: 0%;
        font-size: 0px;
        right: 0px;
    }
    5% {
        right: 50px;
        width: 100%;
        font-size: 8px;        
    }

    10% {
        font-size: 12px;
    }
    /* 50% { opacity: 0.9; } */
    60% { opacity: 1; }
    70% { opacity: 0.8; }
    80% { opacity: 0.7; }
    90% { opacity: 0.6; }
    100% { opacity: 0; }
}

@keyframes rotacaoPeca {
    0%{
        transform: rotateY(2160deg);        
    }

    50% {
        transform: rotateY(720deg);
    }
    
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes rotacaoPecaInversa {
    from {
        transform: rotateY(0deg);        
    }
    to {
        transform: rotateY(2160deg);        
    }
}

@keyframes exibeMenu {
    from {
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }
    to {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}
@keyframes ocultaMenu {
    from {
        width: 100%;
        height: 100%;
        opacity: 1;
        display: flex;
    }
    to {
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }
}

@keyframes modoEspera {
    30% {
        font-size: 18px;
    }
    60% {
        font-size: 28px;
    } 
    80% {
        font-size: 18px;
    }
}
#exibe-menu {
    z-index: 18;
    align-items: center;
    border: none;
    background: none;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 2px;
    margin: 0;
}

#exibe-menu span {
    font-size: 14px;
    margin-left: 5px;
}

#exibe-menu:hover {
    background: #b3f1d2;
    box-shadow: 0px 0px 1px 1px #91c5ab;
}

.menu {
    z-index: 20;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #FFF;
    flex-direction: column;
    padding: 10px 30px;
}

.animacaoExibeMenu {
    display: flex;
    animation-name: exibeMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.animacaoOcultaMenu {
    animation-name: ocultaMenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* display: none; */
    /* animation-iteration-count: infinite; */
}
.item-menu {
    display: flex;
    width: 100%;
    max-width: 580px;
    height: 60px;
    color: #555;    
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-menu .icone {
    /* width: 30px; */
    justify-content: flex-end;
    /* text-align: end; */
    font-size: 30px;
    /* border: 1px solid black; */
    margin: 0 10px 0 0;
}

.item-menu:hover {
    background: #b7ffdb;
}
.item-menu:active {
    background: #a5e2c4;
    /* color: #FFF; */
}

.logo-menu {
    /* flex: 1; */
    padding: 0 50px;
    max-width: 480px;
    justify-content: center;
    align-items: center;
    height: 130px;
}

.logo-menu .pecaMini {
    width: 80px;
    height: 80px;
}

#sair {
    color: red;
}
@media screen and (max-width: 355px) {
    .corpo .tabuleiro {
        max-width: 290px;
        max-height: 290px;
        min-width: 290px;
        min-height: 290px;    
        /* height: 90%; */
        /* flex: 2; */
    }
    .statusJogo {
        width: 100%;
    }
    .statusJogo .bancopecas {
        margin: 5px 0px;
        height: 130px;
        max-height: 200px;
        width: 290px;
        max-width: 350px;
    }
    
}

@media screen and (max-width: 900px) {
    div, body, html {
        height: inherit;
    }

    .form-group {
        padding: 0 5px;
    }

    .corpo {
        flex-direction: column;
        padding: 0px 5px;
        flex: 20;
    }
    .corpo .dados {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }

    .corpo .dados .nomes {
        width: 48%;
        padding: 2px;
        border-radius: 2px;
        font-size: 11px;
        /* border: 1px solid black; */
    }

    .corpo .dados .nomes .pecaMini {
        height: 20px;
        width: 20px;
    }
    .corpo .tabuleiro {
        max-width: 330px;
        max-height: 330px;
        min-width: 330px;
        min-height: 330px;    
        /* height: 90%; */
        /* flex: 2; */
    }
    .statusJogo {
        width: 100%;
    }
    .statusJogo .bancopecas {
        margin: 5px 0px;
        height: 120px;
        max-height: 240px;
        width: 330px;
        max-width: 500px;
    }

    .subtitulo {
        display: none;
    }

    .peca:hover, .pecaSelecionada {
        max-width: 65px;
        max-height: 65px;
        width: 100%;
        height: 100%;
    }

    .pecaComida {
        width: 30px;
        height: 30px;
    }

    .chat-form {
        /* width: 550px; */
        width: 330px;
    }
    #exibe-chat {
        width: 40px;
        height: 40px;
        font-size: 11px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .alerta {
        height: 70%;
        width: 90%;
        left: 5%;
        top: 15%;
    }
}