@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;    
    font-family: 'Source Code Pro', monospace;
}
div, body, html {
    width: 100%;
    height: 100%;   
    border-radius: 1px solid black;
}
body {
    background: rgb(183, 255, 219);
    flex-direction: column;
}
.menu {
    flex: 1;
    justify-content: center;
}
.statusJogo {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.statusJogo .bancoPecas {
    background: #FFF;
    border-radius: 2px;
    padding: 10px;
    border: 10px groove #DDD;
    margin: 30px 0px;
    height: 400px;
    width: 200px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.corpo {
    justify-content: center;
    align-items: center;
    align-content: center;
}
.corpo .tabuleiro {
    max-width: 550px;
    max-height: 550px;
    min-width: 550px;
    min-height: 550px;
    border: 3px solid black;
    flex-wrap: wrap;
    margin: 0px 50px;
}
.casa {
    max-width: 68px;
    max-height: 68px;
    width: 12.5%;
    height: 12.5%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color: white;
}
.black {
    background: black;
}
.white {
    background: white;
}
.peca {
    max-width: 45px;
    max-height: 45px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 7px groove;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}
.peca:hover, .pecaSelecionada {
    max-width: 65px;
    max-height: 65px;
    width: 95%;
    height: 95%;
}

.mao {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-image: url("img/mao.jpg");
    background-size: cover;
    box-shadow: 0px 0px 2px 3px green;
}

.pecaMini {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 7px groove;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}
.jogadorRed {
    background: red;
    border-color: rgb(160, 35, 35);
}
.jogadorBlue {
    border-color: rgb(31, 31, 143);
    background: blue;
}

.dama {
    background: #f6fa17;
}
.form-group {
    margin-top: 50px;
    flex-direction: column;
    width: 400px;
    flex: 2;
}
.input {
    border: 1px solid #CCC;
    text-align: center;
    border-radius: 2px;
    margin: 10px 0px;
    padding: 5px 15px;
    font-size: 18px;
}
.titulo {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn {
    margin: 5px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 5px 20px;
    border: 1px solid #CCC;
    font-size: 15px;
}

.btn div {
    flex: 2;
    justify-content: center;
}
#exibe-chat {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    justify-content: center;
    border: none;
    background: #04945d;
    color: #FFF;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}
#exibe-chat:active {
    background: #047e4f;
}
.chat-form {
    flex-direction: column;
    display: none;
    background: #1587aa;
    padding: 10px;
    border-radius: 4px;
    width: 95%;
    max-width: 550px;
    margin: 5px auto;
    align-content: center;
}

.chat-dialogo {
    /* border: 4px groove #DDD; */
    background: #DDD;
    border-radius: 4px;
    margin: 5px;
    width: 95%;
}

#fechar-chat {
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
}

.chat-form  label {
    width: 100%;
    font-weight: bold;
    color: #222;
    justify-content: center;
}
.chat-form  textarea {
    border-radius: 2px;
    resize: none;
    width: 100%;
    /* max-width: 350px; */
    padding: 10px;
}

.chat-form  #enviar-mensagem {
    background: #04945d;
    color: #FFF;
    border: none;
    width: 100%;
    border-radius: 2px;
    /* max-width: 350px; */
    margin-top: 5px;
    justify-content: center; 
    padding: 5px 0;   
    cursor: pointer;
}
#mensagens {
    background: none;
    right: 5px;
    top: 5px;
    max-width: 300px;
    /* height: 50%; */
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
}
.mensagem {
    /* right: 5px;
    top: 5px; */
    /* max-width: 300px; */
    max-height: 100px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    background: #FFF;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    animation-name: sumir-mensagem;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

@keyframes sumir-mensagem {
    0% {
        right: -305px;
    }
    5% {
        right: 5px;
    }
    50% { opacity: 1; }
    /* 50% { opacity: 0.9; } */
    60% { opacity: 0.9; }
    70% { opacity: 0.7; }
    80% { opacity: 0.6; }
    100% { opacity: 0; }
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

@media screen and (max-width: 900px) {
    div, body, html {
        height: inherit;
    }
    .corpo {
        flex-direction: column;
        padding: 0px 5px;
        flex: 20;
    }

    .corpo .tabuleiro {
        max-width: 350px;
        max-height: 350px;
        min-width: 350px;
        min-height: 350px;    
        /* height: 90%; */
        /* flex: 2; */
    }
    .statusJogo {
        width: 100%;
    }
    .statusJogo .bancoPecas {
        margin: 5px 0px;
        height: 150px;
        max-height: 300px;
        width: 100%;
    }

    .statusJogo h4 {
        display: none;
    }

    .peca:hover, .pecaSelecionada {
        max-width: 65px;
        max-height: 65px;
        width: 100%;
        height: 100%;
    }

    .pecaComida {
        width: 30px;
        height: 30px;
    }

    .chat-form {
        max-width: 550px;
        width: 100%;
    }
}